@font-face {
  font-family: "nibPro-Regular";
  src: url(NibPro-Regular.ttf);
}

@font-face {
  font-family: "matter-regular";
  src: url(SpaceGrotesk-Regular.ttf);
}

.carousel_Component {
  position: relative;
  width: 100vw;
  height: 500px;

  /* display: inline-block; */
  display: flex;
  flex-direction: row;

  /* background-color: #b3ffb2; */

  /* overflow: hidden; */
}

.customer_review_card {
  position: absolute;

  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 376px;
  /* width: 336px */

  align-items: flex-start;
  justify-content: space-between;

  padding: 40px;

  border-radius: 22.4985px;

  user-select: none;
}

.review_text {
  color: #503a3a;
  font-family: "matter-regular";
  font-size: 14px;

  line-height: 26px;
  text-align: left;
  width: 256px;
}

.customer_info {
  display: flex;
  flex-direction: row;

  width: inherit;

  align-items: center;

  gap: 16px;

  .customer_name {
    font-family: "nibPro-Regular";
    font-size: 24px;

    line-height: 60px;
  }
}
