@font-face {
  font-family: "nibPro-Regular";
  src: url(/NibPro-Regular.ttf);
}

@font-face {
  font-family: "nibPro-Italics";
  src: url(/NibPro-Italic.ttf);
}

@font-face {
  font-family: "matter-bold";
  src: url(/Trispace-SemiBold.ttf);
}

@font-face {
  font-family: "matter-regular";
  src: url(/SpaceGrotesk-Regular.ttf);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 44px;

  align-items: center;

  width: 100%;
  background-color: #fbf6d9;
  z-index: 0;
  transition: all 0.2s ;
}

.main_title_and_captions_CONTAINER {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: 100%;
  max-width: 1280px;

  margin-right: auto;
  margin-left: auto;

  gap: 25px;

  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.2s;
}

.main_title {
  text-align: center;

  color: #503a3a;
  font-family: "nibPro-Regular";
  font-size: 47.36px;
  font-weight: lighter;
  transition: all 0.2s;

  em {
    font-family: "nibPro-Italics";
    transition: all 0.2s;
  }

  span {
    font-family: "matter-bold";
    font-weight: bolder;
    color: #45594e;
    transition: all 0.2s;
  }
}

.captions_CONTAINER {
  width: 100%;
  text-align: center;
  font-family: "matter-regular";
  font-size: 15px;
  color: #503a3a;
  transition: all 0.2s;
}

.buttons {
  display: flex;
  flex-direction: column;

  width: inherit;

  gap: 20px;

  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s;
}

.button_CONTAINER {
  display: flex;
  flex-direction: column;

  background: transparent;

  width: inherit;
  gap: 28px;

  padding-left: 16px;
  padding-right: 16px;

  align-items: center;
  justify-content: center;

  z-index: 1;
  transition: all 0.2s;
}

.btn1 {
  width: 100%;
  border-radius: 9.34px;

  color: #503a3a;
  background-color: #ffb885;

  text-align: center;
  font-family: "matter-bold";

  padding: 16px 24px;

  transition: all 0.2s;
}

.scndClrComb {
  animation: scndClrComb 0.3s ease forwards;
}

@keyframes scndClrComb {
  to {
    color: #ffb885;
    background-color: #503a3a;
  }
}

.btn2 {
  display: flex;
  flex-direction: row;

  gap: 8px;

  color: #503a3a;

  font-family: "matter-bold";
  font-size: 12.8px;

  user-select: none;
  transition: all 0.2s;

  .btn2img {
    width: 10px;
    height: 13px;
    transition: all 0.2s;
  }
}

.btn1:hover,
.btn2:hover {
  cursor: pointer;
}

.shiftArrow {
  animation: shiftArrw 0.3s ease forwards;
}

@keyframes shiftArrw {
  to {
    transform: translateX(6px);
  }
}

.imgContainer {
  width: inherit;
  height: 47.2vw;

  background: url("/AfterCopyIllustration.webp");
  background-size: cover;
  background-position: center;
  transition: all 0.2s;
}

@media screen and (min-width: 360px) and (max-width: 372px) {
  .main_title {
    width: 328px;
    font-size: 47.36px;
    transition: all 0.2s;
  }
}

@media screen and (min-width: 373px) and (max-width: 582px) {
  .main_title {
    width: 341.33px;
    font-size: 47.36px;
    transition: all 0.2s;
  }
}

@media screen and (min-width: 583px) and (max-width: 766px) {
  .main_title {
    width: 552.86px;
    font-size: 44.8px;
    transition: all 0.2s;
  }

  .btns_and_Image {
    gap: 30px;
    transition: all 0.2s;
  }
}

@media screen and (min-width: 767px) {
  header{
    padding-top: 128px;
    padding-bottom: 454px;
    transition: all 0.2s;
  }
  .imgContainer {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: all 0.2s;
  }
  .main_title {
    width: 680px;
    font-size: 80px;
    transition: all 0.2s;
  }

  .captions_CONTAINER {
    font-size: 20px;
    width: 429px;
    transition: all 0.2s;
  }

  .btn1 {
    width: fit-content;
    padding: 16px 40px;
    letter-spacing: -1.6px;
    line-height: 1.5;
    transition: all 0.2s;
  }
  
  .btn2 {
    font-size: 16px;
    letter-spacing: -1.9px;
    transition: all 0.2s;

    .btn2img {
      width: 10px;
      height: 19px;
      transition: all 0.2s;
    }
  }

  .button_CONTAINER {
    gap: 10px;
    transition: all 0.2s;
  }
  .buttons {
    gap: 75px;
    transition: all 0.2s;
  }
}

@media screen and (min-width: 991px) {
  .btn1{
    width: fit-content;
    font-size: 20px;
    padding: 16px 40px;
    transition: all 0.2s;
  }
  
}

@media screen and (min-width: 1440px) {
  header{
    padding-top: 128px;
    padding-bottom: 634px;
    transition: all 0.2s;
  }
}