.service_containerA {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  width: 1280px;
  height: 900px;

  background: url(/ContainerImgA.webp);
  background-size: cover;
  background-position-x: 330px;

  margin: 100px;
}

.detailesA {
  height: 900px;
  width: 640px;
  background-color: aqua;
  
}

.imgA{
    width: 201px;
}
